* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.rootContainer {
	background: rgb(179, 235, 179);
	text-align: center;
}

.infoContainerTitle {
	color: rgb(0, 138, 252);
	font-size: 50px;
	margin-bottom: 20px;
}
