* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.rootContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 90%;
	margin: 0 auto;
	background: rgb(179, 235, 179);
}

.resetBtn {
	padding: 10px;
	border-radius: 20px;
	margin-bottom: 20px;
	border: none;
	cursor: pointer;
	font-size: 20px;
}

.resetBtn:hover {
	background: rgb(170, 138, 138);
	color: #fff;
}

.container {
	display: flex;
	flex-wrap: wrap;
	height: 500px;
	width: 500px;
	margin: 0 auto;
}

.containerCell {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 160px;
	height: 160px;
	background: rgb(170, 138, 138);
	margin-right: 10px;
	border: 1px solid black;
	font-size: 90px;
	color: rgb(179, 235, 179);
	cursor: pointer;
}

.containerCell:hover {
	opacity: 0.8;
}

.containerCell:nth-child(3n) {
	margin-right: 0px;
}
